#
# This file is part of Brazil Data Cube Sentinel-2 Angle Bands.
# Copyright (C) 2022 INPE.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/gpl-3.0.html>.
#

exclude docs/sphinx/_build
include *.py
include *.rst
include *.sh
include LICENSE
include pytest.ini
recursive-exclude docs/sphinx/_build *
recursive-include s2angs *.py
recursive-include docs/sphinx *.bat
recursive-include docs/sphinx *.css
recursive-include docs/sphinx *.ico
recursive-include docs/sphinx *.png
recursive-include docs/sphinx *.py
recursive-include docs/sphinx *.rst
recursive-include docs/sphinx Makefile
recursive-include examples *.py
recursive-include tests *.py
